{% extends 'base.html' %}
{% block head_extend %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton_style.css')}}" /> 
{% endblock %}

{% block main %}
<div>
    {% if element_list|length == 0 %}
        <h1>NO ELEMENTS FOUND! Would you like to add one? ↓↓↓</h1>
    
    {% else %}
        {% for display_elem in element_list%}
            <u><b>#{{display_elem.id}}:</b></u> {{display_elem.element | safe}}
            <br/>
        {% endfor %}
        <br/>
    {% endif %}
</div>

<form method="post">
    {{ form.csrf_token }}
    {{ form.new_order.label }} {{ form.new_order() }}
    Element's Name: {{ form.element() }}
    {{ form.criteria.label }} {{ form.criteria() }}
    <br/>
    <a href="{{url_for('.view_elements', competency_id=comp_id)}}"><button type="button">Back</button></a>
    <input type="submit"/>
</form>
{% endblock %}