{% extends 'base.html' %}
{% block main %}
<form method="post">
    <fieldset>
        <legend>Course Creation Form</legend>
        {{ form.csrf_token }}
        <div>
            {{ form.course_id.label }} {{ form.course_id() }}
        </div>
        <div>
            {{ form.course_title.label }} {{ form.course_title() }}
        </div>
        <div>
            {{ form.theory_hours.label }} {{ form.theory_hours() }}
            {{ form.lab_hours.label }} {{ form.lab_hours() }}
            {{ form.work_hours.label }} {{ form.work_hours() }}
        </div>
        <div>
            {{ form.description.label }} {{ form.description() }}
        </div>
        <div>
            {{ form.domain.label }} {{ form.domain() }}
            <p><a href="{{url_for('domains.add_domain')}}">Create Domain Form</a></p>
        </div>
        <div>
            {{ form.term.label }} {{ form.term() }}
        </div>
        <input type="submit"/>
    </fieldset>
</form>
{% endblock %}