{% extends 'base.html' %}
{% block head_extend %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton_style.css')}}" /> 
{% endblock %}

{% block main %}
<div id="competencies">
    {% for display_comp in competency_list %}
           <a href="{{url_for('.get_competency', competency_id=display_comp.id)}}"> <u><b>{{display_comp.id}}:</b></u></a> {{ display_comp.competency | safe }}
            <br/>
    {% endfor %}
    <br/>
</div>
<form method="post">
    {{ form.csrf_token }}
    {{ form.id.label }} {{ form.id() }}
    {{ form.competency_name.label }} {{ form.competency_name() }}
    {{ form.achievement.label }} {{ form.achievement() }}
    {{ form.type.label }} {{ form.type() }}
    <br/>
    <a href="{{url_for('.competency_list')}}"><button type="button">Back</button> </a>
    <input type="submit" />
</form> 
{% endblock %}