{% extends 'base.html' %}

{% block head_extend %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_users.css') }}">
{% endblock head_extend %}

{% block nav_extend %}
   
{%endblock nav_extend %}

{% block main %}
                <form method="POST">
                    {{form.csrf_token}}

                    <input id="search-input" title="Search" type="text"  placeholder="Search...">

                    <table id="search-table">

                    <thead>
                        <tr id="title">
                            <th>User</th>
                            <th>Role</th>
                            <th>Delete</th>
                            <th>Edit</th>
                            <th>Password</th>
                        </tr>
                    </thead>
                    <tbody>

                                {% for user in users %}
                                <tr>
                                    <td class='user-td'>
                                        <img class="thumbnail" src="{{ user.profile.avatar_url }}" alt="">
                                        <a href='{{ url_for("profile.view_profile", username=user.username) }}'>{{ user.username }}</a>
                                    </td>


                                    <td class='select-role'>
                                        {{ form|attr(user.username+'-role') }}
                                    </td>


                                    <td class='button-td'><a class="clickable" href="{{ url_for('admin.delete_user', username=user.username)}}" onclick="return confirm('Confirm Deleting user {{user.username}}')">Delete</a></td>
                                    <td class='button-td'><a class="clickable" href="{{ url_for('profile.edit_profile_user', username=user.username) }}" >Edit Profile</a></td>
                                    <td class="button-td"><a class="clickable" href="{{ url_for('admin.reset_password', username=user.username) }}" onclick="return confirm('Confirm resetting password for {{user.username}}')">Reset Password</a></td>

                                </tr>
                                {% endfor %}


                    </tbody>
                </table>
                <div id="user-menu">
                    <input class="clickable" value='Save Groups' type='submit'>
                    <a class="clickable" href='{{ url_for("admin.create_user") }}#submit'> Create User </a>
                </div>

                </form>

{% endblock main %}