<html lang="en">
<head>
    {% block head %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Courses App {% endblock title %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        {% block head_extend %}

        {% endblock head_extend %}
    {% endblock head %}
</head>
<body>
    {% block body %}
        <main>

            <header>
                {% block header %}
                    <nav>
                        <ul>

                            {% if current_user.is_authenticated %}
                                <li><a href="{{ url_for('auth.logout') }}" class="nav-button">Logout</a></li>

                                {% block nav_extend %}
                                    {% if current_user.role.permission_level > 1 %}
                                    <li><a href="{{ url_for('admin.admin_users') }}" class="nav-button">Admin</a></li>
                                    {% endif %}
                                {%endblock nav_extend %}
                            {% else %}
                                <li><a href="{{ url_for('auth.login') }}" class="nav-button">Login</a></li>
                                <li><a href="{{ url_for('auth.sign_up') }}" class="nav-button">Register</a></li>
                            {% endif %}
                            {% if not request.path == '/' %}
                            <li><a href="{{ url_for('home.home') }}" class="nav-button">Home</a></li>
                            {% endif %}
                        </ul>
                        <section id="nav-self">
                        {% if current_user.is_authenticated %}

                            
                                <a href="{{url_for('profile.my_profile')}}">
                                    <p>{{current_user.profile.name}}</p>
                                </a>

                                <a href="{{url_for('profile.my_profile')}}">
                                    <img class="thumbnail" src="{{current_user.profile.avatar_url}}" alt="">
                                </a>
                            
                    
                        {% else %}
                                
                                <a href="{{url_for('auth.login')}}">
                                    <p>Visitor</p>
                                </a>
                                <img class='thumbnail' src='https://www.dawsoncollege.qc.ca/news/wp-content/uploads/sites/130/Dawson_discover_D_logo_DAWSONBLUE-960x960.jpg'>

                        {% endif %}
                        </section>
                    </nav>
                {% endblock header %}
            </header>

            <section id="content">
                {% block main %}

                {% endblock main %}
            </section>

        </main>


        <footer>
            {% block footer %}
                <div class='nav-links'>
                    {% if request.referrer %}
                    <a href="{{ request.referrer }}" class="nav-button">Back to referrer</a>
                    {% endif %}
                    <a href="{{ url_for('auth.login') }}" class="nav-button">Login Page</a>
                    <a href="{{ url_for('auth.sign_up') }}" class="nav-button">Register Page</a>
                    <a href="{{ url_for('auth.logout') }}" class="nav-button">Log out</a>
                    <a href="{{url_for('profile.my_profile')}}" class="nav-button"> Your Profile </a>
                    <a href="{{ url_for('profile.view_all_profiles') }}" class="nav-button">All Profiles</a>
                    <a href="{{ url_for('admin.admin_users') }}" class="nav-button">Admin Dashboard</a>
                </div>
            {% endblock footer %}
            <p>Copyright Israel Samir Jack 2023</p>
        </footer>


        {% if get_flashed_messages() %}
            <section id="flash">
                <section class="message-box">

                    <div>
                        <h1 style="display: inline">You've got messages!</h1>
                        <a class="nav-button">Close</a>
                    </div>

                    {% for msg in get_flashed_messages() %}
                        <p>{{ msg }}</p>
                    {% endfor %}
                </section>
            </section>
        {% endif %}

    {% endblock body %}
</body>
</html>