{% extends 'base.html' %}
{% block main %}
<ul>
    {% for single_comp in Comp_List %}
        <li><a id="comp_css" href="{{url_for('.get_competency', competency_id=single_comp.id)}}"> {{single_comp | safe}}</a></li>
    {% endfor %}
</ul>

<a href="{{url_for('.add_competency')}}"> <button>Add Competency</button> </a>
{% endblock%}