{% extends 'base.html' %}
{% block title %}{{course.course_id}}{% endblock title %}
{% block main %}
    <section class="course">
        <h1><a href="{{ url_for('courses.get_course', course_id=course.course_id )}}">{{course.course_id}}</a></h1>
        <ul>
            <li>{{course.course_title}}</li>
            <li>Ponderation: {{course.theory_hours}} {{course.lab_hours}} {{course.work_hours}}</li>
            <li>{{course.description}}</li>
            <li><a href="{{ url_for('domains.get_domain', domain_id=course.domain_id)}}">Domain: {{course.domain_id}}</a></li>
            <li><a href="{{ url_for('terms.get_term', term_id=course.term_id)}}">Term: {{course.term_id}}</a></li>
        </ul>
        <form>
            <button formaction="{{url_for('courses.modify_course', course_id=course.course_id)}}">Update Course</button>
            <button formaction="{{url_for('courses.delete_course', course_id=course.course_id)}}">Delete Course</button>
            <button formaction="{{url_for('courses.add_elements', course_id=course.course_id)}}">Edit elements</button>
        </form>
        <form>
            <button formaction="{{url_for('courses.course_list')}}">Back to List</button>
        </form>

    </section>
{% endblock main %}