{% extends 'base.html' %}

{% block main %}
    <section class="course">


        {{ course.elementstotal }} / {{ course.total_hours }} Hrs Filled </p>
        {% for element in course.elements %}
            {{ element[0] | safe}}
            <p>{{ element[1] }} Hrs</p>
            <a href="{{url_for('courses.remove_element', course_id=course.course_id, element_id=element[0].id)}}">delete</a>
        {% endfor %}
        <form method="post">
            {{ form.csrf_token }}
            {{ form.element.label }}{{ form.element() }}
            {{ form.hours.label }}{{ form.hours() }}
            <input type="submit">
        </form>
        <a class="clickable" href="{{ url_for('courses.get_course', course_id=course.course_id) }}">Back to course</a>

    </section>
{% endblock main %}