{% extends 'base.html' %}
{% block main %}
<ul>
    {% for course in Course_List %}
    <h1><a href="{{ url_for('courses.get_course', course_id=course.course_id )}}">{{course.course_id}}</a></h1>
        <ul>
            <li>{{course.course_title}}</li>
            <li>Ponderation: {{course.theory_hours}} {{course.lab_hours}} {{course.work_hours}}</li>
            <li>{{course.description}}</li>
            <li><a href="{{ url_for('domains.get_domain', domain_id=course.domain_id)}}">Domain: {{course.domain_id}}</a></li>
            <li><a href="{{ url_for('terms.get_term', term_id=course.term_id)}}">Term: {{course.term_id}}</a></li>
        </ul>
    {% endfor %}
</ul>
<form>
    <button formaction="{{url_for('courses.add_course')}}">Add New Course</button>
    <button formaction="{{url_for('home.home')}}">Back to Home</button>
</form>
{% endblock %}
