{% extends 'base.html' %}

{% block head_extend %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create_user.css') }}">
{% endblock head_extend %}

{% block main %}
                <form method="POST">
                    {{form.csrf_token}}
                <table>
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Role</th>
                            <th>Delete</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>

                                {% for user in users %}
                                <tr>
                                    <td class='user-td'>
                                        <img class="thumbnail" src="{{ user.profile.avatar_url }}" alt="">
                                        <a href='{{ url_for("profile.view_profile", username=user.username) }}'>{{ user.username }}</a>
                                    </td>


                                    <td class='select-role'>
                                        <select>
                                            <option>{{user.role.name}}</option>
                                        </select>
                                    </td>


                                    <td class='button-td'><a>Delete</a></td>
                                    <td class='button-td'><a>Edit</a></td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td class='user-td'>
                                        <img class='thumbnail' src="https://th.bing.com/th/id/OIP.kIq5UJ6W1AIeaC3XPiinDAAAAA?pid=ImgDet&rs=1">
                                        <a>New User</a>
                                    </td>
                                    <td>{{form.username.label}}{{ form.username() }}</td>
                                    <td>{{form.password.label}}{{ form.password() }}</td>
                                    <td><input id='submit' value='Create' type='submit'></td>
                                </tr>
                    </tbody>
                </table>

                </form>

{% endblock main %}