{% extends 'base.html' %}
{% block main %}
<ul>
    {% for domain in Domain_List %}
        <li><a href="{{url_for('domains.get_domain', domain_id=domain.id)}}">{{domain | safe}}</a></li>
    {% endfor %}
</ul>
<form>
    <button formaction="{{url_for('domains.add_domain')}}">Add New Domain</button>
    <button formaction="{{url_for('home.home')}}">Back to Home</button>
</form>
{% endblock %}