{% extends 'base.html' %}
{% block title %}Sign up{% endblock title %}
{% block main %}
    <section class="domain">
        {{domain | safe}}
        <form>
            <button formaction="{{url_for('domains.modify_domain', domain_id=domain.id)}}">Update Domain</button>
            <button formaction="{{url_for('domains.delete_domain', domain_id=domain.id)}}">Delete Domain</button>
        </form>
        <form>
            <button formaction="{{url_for('domains.domain_list')}}">Back to List</button>
        </form>
    </section>
{% endblock main %}