{% extends 'base.html' %}

{% block title %}Change Password{% endblock title %}

{% block head_extend %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loginbox.css') }}">
{% endblock head_extend %}

{% block main %}

    <section class="login-box">

        <h1>Change Password</h1>
        <form method='post'>

            {{ form.csrf_token }}

            <span class="login-field">
                {{ form.password.label }}  {{ form.password() }}
            </span>

            <span class="login-field">
                {{ form.newpassword.label }} {{ form.newpassword() }}
            </span>

            <input type="submit" value="Change password">

        </form>

    </section>

{% endblock main %}