{% extends 'base.html' %}
{% block main %}
<ul>
    {% if elements|length == 0 %}
        <h1>NO ELEMENTS FOUND! Would you like to add one? ↓↓↓</h1>
    {% endif %}
    {% for element in elements %}
        {{element | safe}}
        <a href="{{url_for('.modify_element', competency_id=comp_id, element_id=element.id)}}"><button>Modify Element</button></a>
        <a href="{{url_for('.delete_element', competency_id=comp_id, element_id=element.id)}}"><button>Delete Element</button></a>
    {% endfor %}
</ul>
<a href="{{url_for('.get_competency', competency_id=comp_id)}}"><button>Back</button></a>
<a href="{{url_for('.add_elements', competency_id=comp_id)}}"><button>Add Element</button></a>
{% endblock%}