{% extends 'base.html' %}

{% block head_extend %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock head_extend %}

{% block header %}
<nav>
    <ul>
        {% if not request.path == '/' %}
        <li><a href="{{ url_for('home.home') }}" class="nav-button">Home</a></li>
        {% endif %}
        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('auth.logout') }}" class="nav-button">Logout</a></li>

            {% block nav_extend %}
                {% if current_user.role.permission_level > 1 %}
                <li><a href="{{ url_for('admin.admin_users') }}" class="nav-button">Admin</a></li>
                {% endif %}
            {%endblock nav_extend %}
        {% else %}
            <li><a href="{{ url_for('auth.login') }}" class="nav-button">Login</a></li>
            <li><a href="{{ url_for('auth.sign_up') }}" class="nav-button">Register</a></li>
        {% endif %}
    </ul>
    <section id="nav-self">

    </section>
</nav>
{% endblock header %}

{% block main %}

    <section id='wrapping'>
    <section id='sidebar'>
        {% if current_user.is_authenticated %}


        <img class="thumbnail" src="{{current_user.profile.avatar_url}}" alt="">
    
            
        <a href="{{url_for('profile.my_profile')}}">
            <p>Welcome, {{current_user.profile.name.split(' ')[0]}}!</p>
        </a>


        {% else %}
            

            <img class='thumbnail' src='https://www.dawsoncollege.qc.ca/news/wp-content/uploads/sites/130/Dawson_discover_D_logo_DAWSONBLUE-960x960.jpg'>
            <a href="{{url_for('auth.login')}}">
                <p>Welcome, Visitor!</p>
            </a>
        {% endif %}

        <table id="search-table">
            <thead>
                <tr id="title">
                    <th>Recently Online</th>
                </tr>
            </thead>
            <tbody>

                        {% for user in users %}
                        <tr id="{{user[0].username}}">
                            <td class='user-td'>
                                <img class="thumbnail" src="{{ user[0].profile.avatar_url }}" alt="">
                                <a href='{{ url_for("profile.view_profile", username=user[0].username) }}'>{{ user[0].profile.name }}</a>
                                <p>{{ hum.naturaltime(user[1]) }}</p>
                            </td>
                        </tr>
                        {% endfor %}
            </tbody>
        </table>


    </section>

    <section id='mainbar'>

        <div class='titlecard'>
            <h1>Dawson College </h1>
            <p> Course administration App</p>
        </div>
        <div class='contentcard'>
            <div class='nav-links'>
                <a href="{{url_for('profile.my_profile')}}" class="clickable"> Your Profile </a>
                <a href="{{ url_for('profile.view_all_profiles') }}" class="clickable">All Profiles</a>
                <a href="{{ url_for('admin.admin_users') }}" class="clickable">Admin Dashboard</a>
            </div>
            <div class='nav-links'>
                <a href="{{url_for('courses.course_list') }}" class="clickable">Courses</a>
                <a href="{{ url_for('competency.competency_list') }}" class="clickable">Competencties</a>
                <a href="{{url_for('domains.domain_list')}}" class="clickable">Domains</a>
                <a href="{{url_for('terms.term_list')}}" class="clickable">Terms</a>
            </div>
        </div>
    </section>

    </section>

{% endblock main %}


{% block footer %}

{% endblock footer %}

