{% extends 'base.html' %}

{% block title %}Log in{% endblock title %}

{% block head_extend %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loginbox.css') }}">
{% endblock head_extend %}

{% block main %}

    <section class="login-box">

        <h1>Log in</h1>
        <form method='post'>

            {{ form.csrf_token }}

            <span class="login-field">
                {{ form.username.label }}  {{ form.username() }}
            </span>

            <span class="login-field">
                {{ form.password.label }}  {{ form.password() }}
            </span>

            <span class="login-field">
                {{ form.remember_me.label }}  {{ form.remember_me() }}
            </span>

            <input type="submit" value="Login">
        </form>

    </section>

{% endblock main %}