{% extends 'base.html' %}
{% block head_extend %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton_style.css')}}" />
{% endblock %}

{% block main %}
<form method="post">
    {{ form.csrf_token }}
    {{form.domain.label}}{{ form.domain() }}
    {{ form.description.label }} {{ form.description() }}
    <input type="submit" />
</form>
<form>
    <button formaction="{{url_for('domains.domain_list')}}">Back to List</button>
</form>
{% endblock %}