{% extends 'base.html' %}
{% block head_extend %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton_style.css')}}" /> 
{% endblock %}

{% block main %}
<form method="post">
    {{ form.csrf_token }}
    <!-- Show id, but disable the modify for this field only -->
    Competency Name: {{ form.competency_name(rows="3", cols="15") }}
    {{ form.achievement.label }} {{ form.achievement(rows="5", cols="30") }} 
    {{ form.type.label }} {{ form.type() }}
    <br/>
    <a href="{{url_for('.get_competency', competency_id=competency.id)}}"><button type="button">Back</button></a>
    <input type="submit" />
</form>
{% endblock %}