{% extends 'base.html' %}
{% block head_extend %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton_style.css')}}" />
{% endblock %}

{% block main %}
<form method="post">
    {{ form.csrf_token }}
    {{form.year.label}}{{form.year()}}
    {{form.season.label}}{{form.season()}}
    <input type="submit" />
</form>
<form>
    <button formaction="{{url_for('terms.term_list')}}">Back to List</button>
</form>
{% endblock %}