{% extends 'base.html' %}
{% block head_extend %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton_style.css')}}" />
{% endblock %}

{% block main %}
<form method="post">
    {{ form.csrf_token }}
    Element Name: {{ form.element(rows="3", cols="15") }}
    {{ form.new_order.label }} {{ form.new_order(rows="5", cols="30") }}
    {{ form.criteria.label }} {{ form.criteria() }}
    {{ form.competency_id.label }} {{ form.competency_id() }}
    <br>
    <a href="{{url_for('.view_elements', competency_id=comp_id)}}"><button type="button">Back</button></a>
    <input type="submit" />
</form>
{% endblock %}