{% extends 'base.html' %}


{% block head_extend %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock head_extend %}


{% block main %}
<form method="post">
    {{ form.csrf_token }}
    <section id="profile">

        <img src="{{ profile.avatar_url }}">
        <h1>{{ form.name.label }} {{ form.name() }}</h1>
        <p id="handle">{{ user.username }}  |  {{ form.email.label }} {{ form.email() }} </p>
        <p id="bio">{{ form.bio.label }} {{ form.bio() }} </p>
        {{ form.avatar.label }} {{ form.avatar() }}
        <input type="submit">

    </section>
</form>
{% endblock main %}