{% extends 'base.html' %}

{% block head_extend %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock head_extend %}


{% block main %}

    <section id="profile">

        <img src="{{ profile.avatar_url }}">
        <h1>{{ profile.name }}</h1>
        {% if user.role.permission_level == 0 %}
            <h1 style='color:red;'>USER IS BLOCKED L + RATIO</h1>
        {% endif %}
        <p id="handle">{{ user.username }}  |  {{ profile.email }}</p>
        <p id="bio">{{ profile.bio }}</p>
        
        {% if current_user.is_authenticated %}
            {% if current_user == user %}
                <a href="{{url_for('profile.edit_profile')}}">Edit Profile</a>
                <a href="{{url_for('auth.edit_password')}}">Change Password</a>
            {% else %}
                {% if current_user.role.permission_level >= 2  and user.role.permission_level < current_user.role.permission_level %}
                    <a href="{{url_for('profile.edit_profile_user', username=user.username)}}">Edit Profile as Admin</a>
                    <a href="{{ url_for('admin.reset_password', username=user.username) }}" onclick="return confirm('Confirm resetting password for {{user.username}}')">Reset Password</a>
                {% endif %}
            {% endif %}
        {% endif %}
    </section>

{% endblock main %}