{% extends 'base.html' %}

{% block head_extend %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profiles.css') }}">
{% endblock head_extend %}

{% block main %}


                <input id="search-input" title="Search" type="text" placeholder="Search...">

                <table id="search-table">
                    <thead>
                        <tr id="title">
                            <th>Profiles</th>
                        </tr>
                    </thead>
                    <tbody>

                                {% for user in users %}
                                <tr id="{{user.username}}">
                                    <td class='user-td'>
                                        <img class="thumbnail" src="{{ user.profile.avatar_url }}" alt="">
                                        <a {% if user == current_user %}style='color:#90bcff;' {% endif%}  href='{{ url_for("profile.view_profile", username=user.username) }}'>{{ user.profile.name }}</a>
                                    </td>
                                </tr>
                                {% endfor %}


                    </tbody>
                </table>

{% endblock main %}