{% extends 'base.html' %}
{% block main %}
    {{ found_comp | safe }}
    {% for comp_element in Comp_Element_List %}
        {{comp_element | safe}}
    {% endfor %}

    <a href="{{url_for('.competency_list')}}"><button>Back</button></a>
    <a href="{{url_for('.view_elements', competency_id=found_comp.id)}}"><button>Elements Page</button></a>
    <a href="{{url_for('.modify_competency', competency_id=found_comp.id)}}"><button>Modify Competency</button></a>
    <a href="{{url_for('.delete_competency', competency_id=found_comp.id)}}"><button>Delete Competency</button></a>
{% endblock %}