{% extends 'base.html' %}
{% block title %}Term{% endblock title %}

{% block main %}
    <ul>
        {% for term in terms %}
            <li><a href="{{url_for('terms.get_term', term_id=term.id)}}">{{ term | safe }}</a></li>
        {% endfor %}
    </ul>
    <form>
        <button formaction="{{url_for('terms.add_term')}}">Add New Term</button>
        <button formaction="{{url_for('home.home')}}">Back to Home</button>
    </form>
{% endblock main %}
