{% extends 'base.html' %}
{% block title %}Term{% endblock title %}

{% block main %}
    <section>
        {{ term | safe }}
        <form>
            <button formaction="{{url_for('terms.modify_term', term_id=term.id)}}">Update Term</button>
            <button formaction="{{url_for('terms.delete_term', term_id=term.id)}}">Delete Term</button>
        </form>
        <form>
            <button formaction="{{url_for('terms.term_list')}}">Back to List</button>
        </form>
    </section>
{% endblock main %}

