#content {
    flex: 1;
    background-color: #002f6e;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table th {
    color: white;
    
}

table td {
    color: white;
    vertical-align:middle;
    padding: 10px;
    text-align: center;
}
table td a {
    color: white;
}

table {
    overflow-x: scroll;
    border: white solid 3px;
    margin-top: 50px;
    border-collapse: collapse;
    width: 70%;
    min-width: 700px;
}

thead {
    background-color: #002049; 
    margin: auto;
}

table th {
    padding: 10px;
}

form {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-td {

    display: flex;
    align-items: center;
}

.user-td a {
    padding-left: 10px;
    font-weight: bolder;
    text-transform:capitalize;
    font-size: 1.3em;
}

.select-role select {
    background-color: #002049;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bolder;
}



#user-menu {

    position: fixed;
    top: 90%;
    right: 0;

    margin-right: 5%;
}
