#content > h1, #content > p, #content > a {
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

nav > ul {
    padding-left: 2px;
    flex: 1;
    display: flex;
}

.clickable {
    white-space: nowrap;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    border: white solid 1px;
    padding: 10px;
    background-color: #002049;
    text-transform: uppercase;
    font-weight: bolder;
    transition: all 0.2s;
}

.clickable:hover {
    color: #002049;
    background-color: #ffffff;
}

nav > #nav-self {
    flex: 1;
    text-align: right;
    align-self: flex-end;
    margin: auto;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: end;
}

#nav-self a {
    text-decoration: none;
}

#nav-self p {
    display: inline;
    text-align: center;
    vertical-align: center;
    color: white;
    font-weight: bolder;
    font-size: 1.3em;
}

#nav-self img {
    margin-left: 15px;
}

nav > ul li {
    display: inline-block;
}

a.nav-button {
    color: white;
    padding: 10px;
    background-color: #006eff;
    text-decoration: none;
    margin-left: 10px;
    font-weight: bold;
}

a.nav-button:hover {
    background-color: #5baeff;
    cursor: pointer;
}

html {
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {

    display: flex;
    overflow: auto;
    flex-direction: column;
    min-height: 100vh;

}

header {
    height: 90px;
    width: 100vw;
    background-color: #002049;
    display: flex;
    align-items: center;
    position: fixed;
}

#content {
    margin-top:90px;
    flex: 1;
    background-color: #002f6e;
    display: block;
    overflow: auto;
}

#flash {

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.44);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#flash > .message-box {
    background-color: #002f6e;
    padding: 50px 100px;
    border: white solid 4px;
}

.message-box > p {
    background-color: white;
    padding: 20px;
}

footer {
    padding-top: 30px;
    min-height: 100px;
    background-color: #161617;
}

img.thumbnail {
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    width:50px;
}

footer {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.nav-links {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#nav-links > a {
    margin: 10px 5px ;
}
