#content {
    flex: 1;
    background-color: #002f6e;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table th {
    color: white;
    
}

table td {
    color: white;
    vertical-align:middle;
    padding: 10px;
}
table td a {
    color: white;
}

table {
    border: white solid 3px;
    margin-top: 50px;
    border-collapse: collapse;
    width: 50%;
    min-width: 500px;
}

thead {
    background-color: #002049; 
    margin: auto;
}

table th {
    padding: 10px;
}

form {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-td {
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.user-td a {
    padding-left: 10px;
    font-weight: bolder;
    text-transform:capitalize;
    font-size: 1.3em;
}

.select-role select {
    background-color: #424242;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bolder;
}

.button-td a {
    border-radius: 5px;
    text-decoration: none;
    border: white solid 1px;
    padding: 10px;
    background-color: #424242;
    text-transform: uppercase;
    font-weight: bolder;
    transition: all 0.2s;
}
