
#wrapping{
    flex: 1;
    max-width: 1200px;
    display: flex;
    height: 100%;
    margin: 0 auto;
}

#sidebar {
    flex: 5;
    background-color: #004b9786;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



@media screen and (max-width: 750px) {
    #wrapping {
        flex: 1;
       flex-direction: column;
       margin: 0 auto;
       display: flex;
    }


    #sidebar {
        padding: 20px 0;
    }
}



table th {
    color: white;
    
}

table td {
    color: white;
    vertical-align:middle;
    padding: 10px;
}
table td a {
    color: white;
}

table {
    border: white solid 3px;
    margin-top: 50px;
    border-collapse: collapse;
}

thead {
    background-color: #002049; 
    margin: auto;
}

table th {
    padding: 10px;
    font-size: 2em;
}

.user-td {
    margin-left: 15px;
    display: flex;
    align-items: center;
    
}

.user-td a {
    padding-left: 10px;
    font-weight: bolder;
    text-transform:capitalize;
    font-size: 1.3em;
}


#sidebar > a{
    font-size: 1.5em;
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

#sidebar > img {
    width: 80%;
}


#mainbar h1, #mainbar p {
    color: white;
}


#mainbar h1 {
    font-size: 4em;
    margin: 0;
}

.titlecard {
    flex: 3;
    text-align: center;
    margin: 50px auto;
}

.contentcard {
    flex: 6;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#mainbar {
    flex: 8;
    background-color: #0068f0b9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav-links {
    padding: 50px;
}

.clickable {
    font-size: 1.5em;
}

.user-td > p {
    vertical-align: center;
    padding-left: 10px;
    margin: auto;
}

.nav-links {
    margin: auto;
    padding: 20px 0;
}