section.login-box {
    color: white;
    margin-top: 5%;
    background-color: #002049;
    padding: 50px 100px;
    border: white solid 4px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

section.login-box > form {
    display: flex;
    flex-direction: column;
}

form > .login-field {
    margin: 15px 0px;
}

#content {
    display: flex;
    flex-direction: column;

    align-items: center ;
}