section#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 5%;
}

section#profile a {
    color: white;
}

section#profile input[type='url'] {
    width: 70%;
}

section#profile input[type='email'] {
    width: 30%;
}

section#profile p {
    width: 100%;
    text-align: center;
}



section#profile img {
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    height: 300px;
}

section#profile h1 {
    font-size: 40px;
    margin: 0;
}

#handle {
    color: #b4b4b4;
}

#bio {
    text-align: center;
    max-width: 600px;
    width: 100%;
    padding: 100px 0;
    background-color: rgba(255, 255, 255, 0.14);
}

