#content {
    flex: 1;
    background-color: #002f6e;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table th {
    color: white;
    
}

table td {
    color: white;
    vertical-align:middle;
    padding: 10px;
}
table td a {
    color: white;
}

table {
    border: white solid 3px;
    margin-top: 50px;
    border-collapse: collapse;
}

thead {
    background-color: #002049; 
    margin: auto;
}

table th {
    padding: 10px;
    font-size: 2em;
}

form {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-td {
    margin-left: 15px;
    display: flex;
    align-items: center;
    
}

.user-td a {
    padding-left: 10px;
    font-weight: bolder;
    text-transform:capitalize;
    font-size: 1.3em;
}

